
<!DOCTYPE html>

<html> 
<title>Capture</title>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body> 
     <button onclick="goBack()">Go Back</button>
    <h1>
      <center>
          <img class = "storm" 
               src="http://68.media.tumblr.com/7152bfa0158fe005ed650509a39cf4dd/tumblr_nyn3wlVsVq1u69t17o1_500.png"
               width= "100%" >
          <img class = "storm2" 
               src="http://i.imgur.com/FBYwlV8.jpg"
               width= "99.85%" >
      </center>
    </h1>
      <!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFoYUhVkuqnF_n4cWaXI-2RuRrcGkPtbo"></script>
<script src="/client.js"></script>
  </body>
  
  
  
</html>
