<!DOCTYPE html>
<html>
<head>
<title>Conection</title>
  <link rel="stylesheet" href="/style.css">

</head>

<body>
   <button onclick="goBack()">Go Back</button>

<h1><center><img src= "http://core0.staticworld.net/images/article/2014/10/new-gmail-app-android-lollipop-inbox-100527809-large.idge.jpg" width='100%'></center></h1>
  <!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFoYUhVkuqnF_n4cWaXI-2RuRrcGkPtbo"></script>
<script src="/client.js"></script>
</body>
</html>