<!DOCTYPE html>
<html>
<title>Locanon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/lib/w3.css"/>

<link rel="stylesheet" type="text/css" href="/style.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
  </head>



<body>
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
  </div>

 <!--<div class="social_login">
    <div class="clearfix">
        <!--<a class="social_box fb" href="#"><span class="icon_title">connect with
        facebook</span></a> <a class="social_box google" href="#"><span class=
        "icon_title">connect with google</span></a>
    </div>

    <div class="centeredText">
        <span>Or use your Email address</span>
    </div>-->

  <div class="action_btns">
         <div class="one_half">
            <h1> </h1>
    <h1><a href="/login">login here</a></h1>
        <div class="one_half last">
            <a class="btn" href="" id="register_form" name=
            "register_form" style="text-decoration: none;">sign up</a>
        </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" style="text-decoration: bold;">LOCANON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <h1><center><a href="/maps" > location </a></center></h1>
    <h1><center><a href="/friends" > connections </a></center></h1>
  <h1><center><a href="/camera" > capture </a></center></h1> 
     
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>
  </div>
</body>
</html>


<!--#<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>locanon</title>
	<meta name="description" content="DESCRIBE YOUR WEBSITE">
	<meta name="keywords" content="KEY, WORDS, HERE">
	</head>
	<style>body {
    background-color: lavender;
    }</style><body>

  <h1><b><center>locanon.</center></b></h1>
  	</body>
</html>



<!DOCTYPE html>
<html>
<body><center>

  <h1><a href="/maps"> maps </a></h1>
  <h1><a href="/friends"> Friends </a></h1>
  <h1><a href="/camera"> camera </a></h1>

</center>

</body>
</html>
-->