<!DOCTYPE html>

<html>
<title>Location</title>

<link rel="stylesheet" href="/style.css">
<body>
<button onclick="goBack()">Go Back</button>

<center><div id="googleMap" style="width:50%;height:400px;"></div></center>

  <center>
  <table>
  <tr>
    <th>Got Starbucks for free today!!</th>
    <td><img class = "storm" 
               src="https://68.media.tumblr.com/dbb01a78779e23a7dec0d7eb85215c30/tumblr_nq5xrsMF9O1tpsohxo1_500.jpg"
               width= "20%" ></td>
  </tr>
  <tr>
    <th>Justin Bieber at Morgan Hall now</th>
    <td>
      <img class = "storm" 
               src="https://68.media.tumblr.com/e1f9534be66f2f9b28db4d0aef58b088/tumblr_olydt8nEAs1uhb1mno1_500.jpg"
               width= "20%" >
    </td>
  </tr>
</table>
    </center>
<script> </script>
  <!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFoYUhVkuqnF_n4cWaXI-2RuRrcGkPtbo"></script>
<script src="/client.js"></script>

</body>
</html>

